{% extends 'base.html' %}

{% load static %}
{% block title %}Covid tracker{% endblock title %}

{% block head %}
{% comment %} <style>
  #map {
    height: 100%;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style> {% endcomment %}
{% endblock head %}

{% block content %}
<p>Legend</p>

<div id="map" style="width:80%;height:600px;">
</div>
{% endblock content %}

{% block footer %}
<script type="text/javascript">
  var google_api_key = "{{key|safe}}";
</script>

{{ coords | json_script:"coords" }}

{% endblock footer %}