{% extends 'base.html' %}

{% load static %}
{% block title %}Covid tracker{% endblock title %}

{% block head %}
{% comment %} <style>
  #map {
    height: 100%;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style> {% endcomment %}
{% endblock head %}

{% block content %}
<p>This is the main page</p>
<p><a href="{% url 'project-home' %}">Home</a></p>
<p><a href="{% url 'users:profile' %}">Profile</a></p>
<div id="map" style="width:100%;height:400px;">
</div>
{% endblock content %}

{% block footer %}
<script type="text/javascript">
  var google_api_key = "{{key|safe}}";
</script>

{{ coords | json_script:"coords" }}

{% endblock footer %}